# Virtual env
venv/
env/
.venv/
ENV/
# ----------------------------
data/
*.csv
*.tsv
*.xlsx
*.xls
*.parquet
*.feather
*.zip
*.gz
*.json
*.db
.env
# Ignore node_modules folders everywhere
node_modules/
**/node_modules/
